.todoList-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todoList-item .checkbox {
    /* Reset Boostrap Style */
    margin-top: 0;
    margin-bottom: 0;
}
.todoList-item-link {
    cursor: pointer;
    text-align: center;
}
.todoList-item-image {
    max-width: 100%;
}
