.todoList {}
.todoList-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoList-title .checkbox input[type="checkbox"] {
    top: 25px;
}

@media screen and (min-width: 769px) {
    .todoList {
        max-width: 60%;
        margin: 0 auto;
    }
}
